<div class="tm_content-box">
  <ul class="tm_content-tabs">
    <li><a data-toggle="tab" data-target=".contacts_report">Top Contacts</a></li>
    <li><a data-toggle="tab" data-target=".threads_report">Threads</a></li>
    <li><a data-toggle="tab" data-target=".email_volume_report">Email Volume</a></li>
    <li><a data-toggle="tab" data-target=".lists_report">Lists</a></li>
    <li><a data-toggle="tab" data-target=".folders_report">Folders</a></li>
    <li><a data-toggle="tab" data-target=".attachments_report">Attachments</a></li>
    <!--li><a data-toggle="tab" data-target=".geo_report">Geography</a></li-->
    <!--li><a data-toggle="tab" href="#tab-5">Impact</a></li-->
  </ul>

  <div id="tab-1" class="tm_content-tab-pane contacts_report"></div>
  <div id="tab-2" class="tm_content-tab-pane threads_report"></div>
  <div id="tab-3" class="tm_content-tab-pane email_volume_report"></div>
  <div id="tab-4" class="tm_content-tab-pane lists_report"></div>
  <div id="tab-5" class="tm_content-tab-pane folders_report"></div>
  <div id="tab-6" class="tm_content-tab-pane attachments_report"></div>
  <!--div id="tab-7" class="tm_content-tab-pane geo_report"></div-->
  <!--div id="tab-5" class="tm_content-tab-pane top_senders_and_recipients_report"></div-->

  <div class="tm_settings-tab-loading">
    <div class="tm_empty-pane">
      <svg class="icon busy-indicator"><use xlink:href="/images/symbols.svg#busy-indicator"></use></svg>
    </div>
  </div>
</div>