<div class="dropdown">
  <a data-toggle="dropdown" href="#"></a>

  <div class="dropdown-menu">
    <form class="create-app-form">
      <input type="text"
             class="form-control create-app-name"
             placeholder="Name"
             value="{{app.name}}" />
      <input type="text"
             class="form-control create-app-description"
             placeholder="Description"
             value="{{app.description}}" />
      <input type="text"
             class="form-control create-app-type"
             placeholder="App Type"
             value="{{app.app_type}}" />
      <input type="text"
             class="form-control create-app-callback-url"
             placeholder="Callback URL"
             value="{{app.callback_url}}" />
      <button type="submit" class="btn btn-primary">Create App</button>
    </form>
  </div>
</div>
