<div class="tm_info-modal modal fade about-modal" tabindex="-1" role="dialog">

  <button type="button" class="tm_modal-button tm_modal-button-dark" data-dismiss="modal">
    <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
  </button>

  <div class="modal-dialog about-modal-dialog">
    <div class="tm_info-modal-content">
      <div class="tm_info-modal-about">
        <h1>We Are Turing</h1>
        <p class="big">We are dedicated to creating exceptionally great technology products to better provide our valued customers with what they want and demand. In doing so, we aim to deliver an outstanding combination of performance, usability, and utility.</p>
        <p class="small faded">Our first commercial product is an email client. In developing this email client, we have sought to innovate and engineer beyond existing offerings in every respect. Moreover, we can assure you that we will keep progressing this product as rapidly as we can in order to deliver ever greater value to you.</p>

        <!-- TODO: cycle between comments from Turing team members. -->
        <div class="tm_info-modal-cite">
          <blockquote>Welcome to the Turing email client. I invite you to try out our product, and learn about the benefits it offers. I am confident that we will provide you with the ideal email experience.</blockquote>
          <span class="tm_cite-avatar" style="background-image: url('/images/stewart.jpg')"></span>
          <div class="tm_cite-author">
            <span>Stewart Macgregor Dennis</span>
            <small>Founder &amp; Chief Executive Officer</small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>