<div class="tm_info-modal modal fade faq-modal" tabindex="-1" role="dialog">

  <button type="button" class="tm_modal-button tm_modal-button-dark" data-dismiss="modal">
    <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
  </button>

  <div class="modal-dialog faq-modal-dialog">
    <div class="tm_info-modal-content">
      <aside>
        <h1>FAQ</h1>
      </aside>
      <article>
        <!-- TODO: extend with additional questions as they come up. -->
        <div class="tm_info-modal-qa">
          <p class="big">Why should I use to Turing?</p>
          <p class="faded">Email is the primary communication channel for business, but email innovation has been largely ignored. Turing has modernized the email experience to manage all your existing email accounts. Turing captures the reliable functions of traditional email and developed a suite of new and necessary features to accomplish more with your inbox.</p>
        </div>
        <div class="tm_info-modal-qa">
          <p class="big">How will Turing help me?</p>
          <p class="faded">Turing will provide you email features you can’t live without once you know they exist. Turing provides you a fast, secure and efficient email experience with features such as: Conversations, Contact Sidebar, Email Scheduling, Email Undo, Email Tracking, Analytics, Email Templates and, coming soon, integration with Salesforce, Desk.com, and Zendesk. Reference our Features and Collections pages for specific details. </p>
        </div>
        <div class="tm_info-modal-qa">
          <p class="big">What email accounts does Turing support?</p>
          <p class="faded">Turing supports Google Apps/Gmail, Outlook, Yahoo Mail, AOL Mail, and iCloud Mail. You can manage all of your email addresses with a single Turing account. It’s easy to get started—Turing will do the import work for you upon joining.</p>
        </div>
        <div class="tm_info-modal-qa">
          <p class="big">How do I change the preview panel settings?</p>
          <p class="faded">From the toolbar, select the Settings option on the More dropdown. On the page that is then navigated to, select the option you desire from the list of Preview Panel options (vertical, horizontal, off).</p>
        </div>
        <div class="tm_info-modal-qa">
          <p class="big">How can the $9.99 price point be justified compared to free email clients out there today?</p>
          <p class="faded">While a number of email clients are free or low cost, consumers still have to pay a significant amount for premium functionality via plugins. The top-tier monthly price points for those plugins include $40/month (Yesware), $49.99/month (Boomerang), and $119/month (Streak). Turing email offers baseline email client functionality combined with a rich set of features that constitute parity or better with numerous premium plugins. Basically, the price point of Turing email is competitive if you want a feature-rich email client.</p>
        </div>
        <div class="tm_info-modal-qa">
          <p class="big">More questions?</p>
          <p class="faded">Email us. We’d be happy to assist you.<br /><br />
          <a href="mailto:info@turinginc.com" target="_top">info@turinginc.com</a></p>
        </div>
      </article>
    </div>
  </div>

</div>