<div class="tm_info-modal modal fade terms-modal" tabindex="-1" role="dialog">

  <button type="button" class="tm_modal-button tm_modal-button-dark" data-dismiss="modal">
    <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
  </button>

  <div class="modal-dialog terms-modal-dialog">
    <div class="tm_info-modal-content">
      <aside>
        <h1>Terms &amp; Conditions</h1>
      </aside>
      <article>
        <p class="big">EFFECTIVE:&nbsp; JUNE 4, 2015</p>

        <p class="big"><strong>Thank you for registering to use Turing email (the “Service”), the e-mail client software-as-a-service operated by Turing Technology, Inc. (“Turing” or “we” or “our” or “us” and the like). This User Agreement (this “Agreement”) applies the customers, members, users, and others who visit and use the Service (collectively or individually “Users”).</strong></p>

        <p>BEFORE USING THE SERVICE, PLEASE READ THIS AGREEMENT CAREFULLY.  BY CLICKING ON “ACCEPT”, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THIS AGREEMENT, INCLUDING THE PROVISIONS OF SECTIONS 20 AND 21 UNDER WHICH YOU AGREE TO ARBITRATE CERTAIN CLAIMS INSTEAD OF GOING TO COURT AND AGREE NOT TO BRING CLASS ACTIONS CLAIMS.  IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, THEN PLEASE DO NOT CLICK “ACCEPT,” IN WHICH CASE YOU WILL NOT BE ABLE TO USE THE SERVICE.</p>

        <p>IF THE INDIVIDUAL ACCEPTING THIS AGREEMENT IS DOING SO ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, SUCH INDIVIDUAL REPRESENTS THAT HE/SHE HAS THE AUTHORITY TO BIND SUCH ENTITY TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS “YOU” OR “YOUR” SHALL REFER TO SUCH ENTITY. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND YOU WILL NOT BE ABLE TO USE THE SERVICE.</p>

        <p><strong>NOTE TO KIDS UNDER 13 YEARS OF AGE:</strong> THE SERVICE IS NOT FOR PERSONS UNDER THE AGE OF 13. If you are under 13 years of age, then please do not use the Service. Talk to your parents about what sites are appropriate for you.</p>

        <h3>1.&nbsp;Beta Service</h3>

        <p class="faded">You acknowledge that the Service is in beta form, and as such may contain bugs, may not operate consistently or perform all intended functions, and may cause errors, data loss or other problems. Turing reserves the right to discontinue any aspect of the Service at any time. You hereby assume all risks associated with the use of the Service in beta form. The beta period may end at any time in Turing’s discretion. You acknowledge that your continued use of the Service at the end of the beta period may be subject to your agreement to a new version of this Agreement.</p>

        <h3>2.&nbsp;Privacy Policy</h3>

        <p class="faded">Turing’s Privacy Policy, found at <a href="/mail#privacy">http://www.turingemail.com/mail#privacy</a> is hereby incorporated into this Agreement. Please read this notice carefully for details relating to the collection, use, and disclosure of information by Turing in connection with the Service.</p>

        <h3>3.&nbsp;Individual Features and Services</h3>

        <p class="faded">When using the Service, you will be subject to any additional posted guidelines or rules applicable to specific services, offers and features which may be posted from time to time (the “Guidelines”). All such Guidelines are hereby incorporated by reference into this Agreement.</p>

        <h3>4.&nbsp;Modification</h3>

        <p class="faded">Turing may make modifications, deletions and/or additions to this Agreement (“Changes”) at any time. Changes will be effective: (i) thirty (30) days after Turing provides notice of the Changes, whether such notice is provided through the Service user interface, is sent to the e-mail address associated with your account or otherwise; or (ii) when you opt-in or otherwise expressly agree to the Changes or a version of this Agreement incorporating the Changes, whichever comes first.</p>

        <h3>5.&nbsp;Ownership; Proprietary Rights</h3>

        <p class="faded">The Service is owned and operated by Turing. The content, visual interfaces, information, graphics, design, compilation, computer code, products, software, services, and all other elements of the Service that are provided by Turing (“Turing Materials”) are protected by United States copyright, trade dress, patent, and trademark laws, international conventions, and all other relevant intellectual property and proprietary rights, and applicable laws. <strong>For clarity, Turing Materials do not include Messages.</strong> All Turing Materials contained on the Service are the copyrighted property of Turing or its subsidiaries or affiliated companies and/or third-party licensors. All trademarks, service marks, and trade names are proprietary to Turing or its affiliates and/or third-party licensors.  Except as expressly authorized by Turing, you agree not to sell, license, distribute, copy, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of Turing Materials.</p>

        <h3>6.&nbsp;Payment</h3>

        <p class="faded">By signing up for a paid Service account and providing your payment information, you agree to pay Turing the recurring and/or nonrecurring fees as displayed to you at the time you create your account and as may be modified from time to time as described in this Agreement. If you upgrade your account type, you will be charged the price difference on a pro-rated basis for then then-current billing period. If you downgrade your account, the downgrade will take effect at the start of the next billing period. You acknowledge and agree that the payment instrument provided by you will be automatically charged the fees you incur in connection with your use of the Service, and represent and warrant that you have all necessary rights relating to such payment instrument to authorize Turing to make such charges. Your use of the Service may be suspended if we are unable to charge such payment instrument for any reason. Recurring fees shall be charged on each applicable anniversary (e.g., monthly, quarterly, etc.) of the date of your account creation. The fees applicable to your account may be subject to modification from time to time pursuant to notice (which may be given via e-mail) provided by us at least fifteen (15) days in advance of the payment date for which the modification would be effective. Your continued use of the Service following such notice and through the payment date constitutes your agreement to such modified fees. You may at any time cancel your account as set forth below if you do not agree to any modified fees. All fees must be paid in U.S. dollars (or such other currency(ies) which may be accepted by Turing from time to time, as indicated at the time of payment) and are non-refundable.</p>

        <h3>8.&nbsp;E-mail Messages</h3>

        <p class="faded"><strong>8.1</strong>&nbsp;&nbsp;You shall be solely responsible for all e-mail messages (inclusive of any and all attachments) you send and receive in connection with the Service (“Messages”). You shall retain all of your ownership rights in your Messages. You hereby grant Turing a worldwide, non-exclusive, fully paid-up, royalty-free, irrevocable, perpetual, sublicenseable, and transferable license to reproduce, display, transmit and analyze and otherwise use your Messages for purposes of operating and providing the Service.</p>

        <p class="faded"><strong>8.2</strong>&nbsp;&nbsp;In connection with Messages and any other transmission of messages or material facilitated by the Service, you further agree that you will not: (i) submit or transmit material that is not authorized by the copyright owner, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner; (ii) publish or transmit falsehoods or misrepresentations that could damage Turing or any third party; (iii) submit or transmit material that is unlawful, defamatory, libelous, threatening, harassing, hateful, racially or ethnically offensive or encourages conduct that would be considered a criminal offense, give rise to civil liability or violate any law; or (iv) impersonate another person.</p>

        <h3>9.&nbsp;Prohibited Uses</h3>

        <p class="faded"><strong>9.1</strong>&nbsp;&nbsp;As a condition of your use of the Service, you will not use the Service for any purpose that is unlawful or prohibited by this Agreement. Access to Turing Materials and the Service from territories where their contents are illegal is strictly prohibited. Turing Users are responsible for complying with all local rules, laws, and regulations including, without limitation, rules about intellectual property rights, the internet, technology, data, email, or privacy.</p>

        <p class="faded"><strong>9.2</strong>&nbsp;&nbsp;Any use by User of any of Turing Materials other than for private, non-commercial use is strictly prohibited.</p>

        <p class="faded"><strong>9.3</strong>&nbsp;&nbsp;You may not use the Service in any manner that in our sole discretion could damage, disable, overburden, or impair it or interfere with any other party’s use of the Service. You may not intentionally interfere with or damage the operation of the Service or any User’s enjoyment of it, by any means, including uploading or otherwise disseminating viruses, worms, or other malicious code. You may not remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Service, features that prevent or restrict the use or copying of any content accessible through the Service, or features that enforce limitations on the use of the Service. You may not attempt to gain unauthorized access to the Service, or any part of it, other accounts, computer systems or networks connected to the Service, or any part of it, through hacking, password mining or any other means or interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Service.  You agree neither to modify the Service in any manner or form, nor to use modified versions of the Service, including (without limitation) for the purpose of obtaining unauthorized access to the Service.</p>

        <p class="faded"><strong>9.4</strong>&nbsp;&nbsp;The Service may contain robot exclusion headers. You agree that you will not use any robot, spider, scraper, or other automated means to access the Service for any purpose without our express written permission or bypass our robot exclusion headers or other measures we may use to prevent or restrict access to the Service.</p>

        <p class="faded"><strong>9.5</strong>&nbsp;&nbsp;You may not utilize framing techniques to enclose any trademark, logo, or other Turing Materials without our express written consent. You may not use any meta tags or any other “hidden text” utilizing Turing’s name or trademarks without our express written consent.</p>

        <h3>10.&nbsp;Account Information</h3>

        <p class="faded">You agree that the information you provide to Turing upon purchase or member registration and, at all other times, will be true, accurate, current, and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times.</p>

        <h3>11.&nbsp;Password</h3>

        <p class="faded">When you register you will be asked to provide a password. As you will be responsible for all activities that occur under your password, you should keep your password confidential. You are solely responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you have reason to believe that your account is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your account ID or password, you will immediately notify Turing. You may be liable for the losses incurred by Turing or others due to any unauthorized use of your account.</p>

        <h3>12.&nbsp;User Communications</h3>

        <p class="faded">Under this Agreement, you consent to receive communications from Turing electronically. We will communicate with you by email or by posting notices on the Service. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

        <h3>13.&nbsp;User Service; Feedback</h3>

        <p class="faded">Please visit our Contact Us information page for further assistance.</p>

        <h3>14.&nbsp;Availability of Service</h3>

        <p class="faded">Turing makes no representation or warranty that Service will be continually available. The Service may be unavailable from time to time, in whole or in party, due to scheduled or emergency maintenance, ISP failures, or other reasons.</p>

        <h3>15.&nbsp;Notice</h3>

        <p class="faded">Legal notices shall be served on you to the email address you provide to Turing during the registration process. Notice shall be deemed given 24 hours after email is sent. Alternatively, we may give you legal notice by mail to the address provided during the registration or purchase process. In such case, notice shall be deemed given three days after the date of mailing.</p>

        <h3>16.&nbsp;Violations; Termination</h3>

        <p class="faded">You agree that Turing, in its sole discretion and for any or no reason, may terminate any member or customer account (or any part thereof) you may have at the Service or your use of the Service, and remove and discard all or any part of your account, at any time. Turing may also in its sole discretion and at any time discontinue providing access to the Service, or any part thereof, with or without notice. You agree that any termination of your access to the Service or any account you may have or portion thereof may be effected without prior notice, and you agree that Turing shall not be liable to you or any third-party for any such termination. Turing does not permit copyright infringing activities on the Service, and reserves the right to terminate access to the Service by any persons who are found to be repeat infringers. Any suspected fraudulent, abusive, or illegal activity that may be grounds for termination of your use of the Service may be referred to appropriate law enforcement authorities. These remedies are in addition to any other remedies Turing may have at law or in equity.</p>

        <h3>17.&nbsp;Disclaimers; No Warranties</h3>

        <p class="faded">THE SERVICE AND ANY THIRD-PARTY, MEDIA, SOFTWARE, SERVICES, OR APPLICATIONS MADE AVAILABLE IN CONJUNCTION WITH OR THROUGH THE SERVICE ARE PROVIDED “AS IS” AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, TURING, AND ITS SUPPLIERS, LICENSORS AND PARTNERS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF PROPRIETARY RIGHTS.</p>

        <p class="faded">TURING, AND ITS SUPPLIERS AND PARTNERS, DO NOT WARRANT THAT THE FEATURES CONTAINED IN THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SERVICE OR THE SERVER THAT MAKES IT AVAILABLE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.</p>

        <p class="faded">TURING, AND ITS SUPPLIERS AND PARTNERS, DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SERVICE IN TERMS OF IT CORRECTNESS, ACCURACY, RELIABILITY, OR OTHERWISE. YOU (AND NOT TURING NOR ITS SUPPLIERS AND PARTNERS) ASSUME THE ENTIRE COST OF ANY NECESSARY SERVICING, REPAIR, OR CORRECTION. YOU UNDERSTAND AND AGREE THAT YOU DOWNLOAD, OR OTHERWISE OBTAIN MEDIA, MATERIAL, OR OTHER DATA THROUGH THE USE OF THE Service AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH MATERIAL OR DATA.</p>

        <p class="faded">CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES.  IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</p>

        <h3>18.&nbsp;Indemnification; Hold Harmless</h3>

        <p class="faded">You agree to indemnify and hold Turing, and its affiliated companies, and its suppliers and partners, harmless from any claims, losses, damages, liabilities, including attorney’s fees, arising out of your use or misuse of the Service, violation of this Agreement, violation of the rights of any other person or entity, or any breach of the foregoing representations, warranties, and covenants, except solely to the extent the foregoing arises out of the gross negligence or willful misconduct of Turing.  Turing reserves the right, at our own expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.</p>

        <h3>19.&nbsp;Limitation of Liability and Damages</h3>

        <p class="faded">UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, SHALL TURING OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS, BE LIABLE TO YOU FOR ANY SPECIAL, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES THAT RESULT FROM YOUR USE OR THE INABILITY TO USE TURING MATERIALS ON THE SERVICE, THE SERVICE ITSELF, OR ANY OTHER INTERACTIONS WITH TURING, EVEN IF TURING OR A TURING AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, TURING’S LIABILITY WILL BE LIMITED TO THE EXTENT PERMITTED BY LAW.</p>

        <p class="faded">IN NO EVENT SHALL TURING’S OR ITS AFFILIATES, CONTRACTORS, EMPLOYEES, AGENTS, OR THIRD PARTY PARTNERS OR SUPPLIERS’ TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION ARISING OUT OF OR RELATING TO THESE TERMS OR YOUR USE OF THE SERVICE (WHETHER IN CONTRACT, TORT, WARRANTY, OR OTHERWISE) EXCEED THE GREATER OF ONE HUNDRED DOLLARS AND THE AMOUNTS PAID BY YOU FOR USE OF THE SERVICE DURING THE SIX MONTH PERIOD PRECEDING THE DATE OF THE CLAIM.</p>

        <p class="faded">THESE LIMITATIONS SHALL ALSO APPLY WITH RESPECT TO DAMAGES INCURRED BY REASON OF ANY PRODUCTS OR SERVICES SOLD OR PROVIDED TO YOU BY THIRD PARTIES OTHER THAN TURING AND RECEIVED BY YOU THROUGH OR ADVERTISED ON THE SERVICE OR RECEIVED BY YOU THROUGH ANY LINKS PROVIDED ON THE SERVICE.</p>

        <h3>20.&nbsp;Arbitration</h3>

        <p class="faded">Any claim (excluding claims for injunctive or other equitable relief) where the total amount of the award sought by either party is less than $10,000 shall be resolved via binding non-appearance-based arbitration initiated through the American Arbitration Association (“AAA”). The AAA Rules are available online at www.adr.org or by calling the AAA at 1-800-778-7879. In any such arbitration, the parties and AAA must comply with the following rules: (a) the arbitration shall be conducted by telephone, online and/or be solely based on written submissions, where the specific manner shall be chosen by the party initiating the arbitration; (b) the arbitration shall not involve any personal appearance by the parties or witnesses unless otherwise mutually agreed by the parties; (c) the arbitrator may award injunctive or declaratory relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim; and (d) any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Agreement shall prevent either party from seeking remedies in small claims court of competent jurisdiction.</p>

        <h3>21.&nbsp;Class Action Waiver</h3>

        <p class="faded">YOU AGREE THAT ANY CLAIMS SUBJECT TO ARBITRATION UNDER SECTION 20 MUST BE MADE IN YOUR INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING.</p>

        <h3>22.&nbsp;Claims</h3>

        <p class="faded">YOU AND TURING AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS AGREEMENT MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>

        <h3>23.&nbsp;Miscellaneous</h3>

        <p class="faded"><strong>23.1 Governing Law</strong>&nbsp;&nbsp;This Agreement shall be governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law.</p>

        <p class="faded"><strong>23.2 Jurisdiction</strong>&nbsp;&nbsp;You agree that any action at law or in equity arising out of or relating to this Agreement or the Service that is not subject to mandatory arbitration as set forth above in Section 20 shall be filed only in the state or federal courts in and for Santa Clara County, California and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action.</p>

        <p class="faded"><strong>23.3 Waiver</strong>&nbsp;&nbsp;A provision of this Agreement may be waived only by a written instrument executed by the party entitled to the benefit of such provision. The failure of any party at any time to require performance of any provision of this Agreement shall in no manner affect such party’s right at a later time to enforce the same. A waiver of any breach of any provision of this Agreement shall not be construed as a continuing waiver of other breaches of the same or other provisions of this Agreement.</p>

        <p class="faded"><strong>23.4 Severability</strong>&nbsp;&nbsp;If any provision of this Agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this Agreement and shall not affect the validity and enforceability of any remaining provisions.</p>

        <p class="faded"><strong>23.5 Assignment</strong>&nbsp;&nbsp;This Agreement and related Guidelines, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Turing without restriction.</p>

        <p class="faded"><strong>23.6 Survival</strong>&nbsp;&nbsp;Sections 1, 2, 3, 4, 6 (with respect to accrued but unpaid amounts), 7, 8.2, and 9 through 24 will survive any termination of this Agreement.</p>

        <p class="faded"><strong>23.7 Headings</strong>&nbsp;&nbsp;The heading references herein are for convenience purposes only, do not constitute a part of this Agreement, and shall not be deemed to limit or affect any of the provisions hereof.</p>

        <p class="faded"><strong>23.8 Entire Agreement</strong>&nbsp;&nbsp;This is the entire agreement between us relating to the subject matter herein and shall not be modified except in a writing, signed by both parties, or by a change to this Agreement or Guidelines made by Turing as set forth in Section 4 above.</p>

        <p class="faded"><strong>23.9 Disclosures</strong>&nbsp;&nbsp;The services hereunder are offered by Turing Technology, Inc., located at 655 Oak Grove Ave #1, Menlo Park, CA 94025, email: support@turinginc.com. If you are a California resident, we are required to inform you that you may reach the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs via mail at 1625 North Market Blvd., Suite N112, Sacramento, CA 95834 or telephone at (916) 445-1254 or (800) 952-5210. Hearing impaired users can reach the Complaint Assistance Unit at TDD (800) 326-2297 or TDD (916) 322-1700.</p>
      </article>
    </div>
  </div>

</div>