<div class="tm_content-toolbar">
  <a class="tm_button tm_button-rounded" href="#email_template_categories">
    <svg class="icon"><use xlink:href="/images/symbols.svg#angle-left"></use></svg>
  </a>

  {{#if category}}
    {{#if categoryNameInEdit}}
    <input type="text" class="tm_template-toolbar-title" value="{{categoryNameInEdit}}" placeholder="Title">
    <a class="tm_toolbar-small finish-edit-template-category-title">Save</a>
    <a class="tm_toolbar-small cancel-edit-template-category-title">Cancel</a>
    {{else}}
    <span class="tm_template-toolbar-title">{{category.name}}</span>
    <a class="tm_toolbar-small start-edit-template-category-title">Edit Category Title</a>
    {{/if}}
  {{else}}
  <span class="tm_template-toolbar-title">All Templates</span>
  {{/if}}

  <div class="tm_counter tm_toolbar-small">
    <span class="tm_counter-label">Templates</span>
    <span class="tm_counter-value fgred">{{emailTemplates.length}}</span>
  </div>

  <button type="button" class="tm_button tm_button-submit create-email-template-button">
    <span>New Template</span>
    <svg class="icon"><use xlink:href="/images/symbols.svg#plus"></use></svg>
  </button>
</div>

{{#if emailTemplates.length}}
  <div class="tm_templates">
    {{#emailTemplates:i}}
      <div class="tm_template" data-uid="{{uid}}">

        <div class="tm_template-info">
          <div class="tm_template-title template-collapse-expand">{{name}}</div>
          <div class="tm_template-date">Created: {{formatDate(created_at)}}</div>
          <div class="tm_button-stack">
            <button type="button" class="tm_button delete-email-template-button">Delete</button>
            <button type="button" class="tm_button edit-email-template-button">Edit</button>
            <button type="button" class="tm_button move-email-template-button">Move</button>
          </div>
          <div class="tm_template-collapser template-collapse-expand"></div>
        </div>

        <div class="tm_template-body">{{& html}}</div>

      </div>
    {{/emailTemplates}}
  </div>
{{else}}
  <div class="tm_empty-pane">You have no templates in the category</div>
{{/if}}


<div class="move-email-template-dialog-form" title="Move Email Template">
  <form>
    <p>Please select a template you want update from the list below and click &quot;Update&quot; button to continue.</p>
    <select class="tm_select" value="{{selectedCategoryUID}}">
      {{#categories}}
        <option value="{{uid}}">{{name}}</option>
      {{/categories}}
      <option value="">All Templates</option>
    </select>
  </form>
</div>
