<div class="dropdown quick-reply-dropdown-div">
  <button class="tm_button tm_button-caret" type="button" id="quickReplyDropdownMenu" data-toggle="dropdown">Quick Reply</button>
  <ul class="dropdown-menu pull-right quick-reply-dropdown" role="menu" aria-labelledby="quickReplyDropdownMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1">Yes</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">No</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">Yo</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">Cool</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">Sounds good</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">Got it</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="quick-reply-option">Confirmed</a></li>
  </ul>
</div>