<form class="compose-form">
  <% if(!isMobile()) { %>
  <div class="tm_compose-header">
    <div class="tm_compose-field">
      <svg class="icon"><use xlink:href="/images/symbols.svg#compose-address"></use></svg>
      <input type="text" class="tm_input to-input" placeholder="To" value="{{email._tos}}">
      <div class="tm_compose-copyto">
        <span class="display-cc">cc</span>
        <span class="display-bcc">bcc</span>
      </div>
    </div>
    <div class="tm_compose-field cc-input-wrapper">
      <svg class="icon"><use xlink:href="/images/symbols.svg#compose-address"></use></svg>
      <input type="text" class="tm_input cc-input" placeholder="cc" value="{{email._ccs}}">
    </div>
    <div class="tm_compose-field bcc-input-wrapper">
      <svg class="icon"><use xlink:href="/images/symbols.svg#compose-address"></use></svg>
      <input type="text" class="tm_input bcc-input" placeholder="bcc" value="{{email._bccs}}">
    </div>
    <div class="tm_compose-field">
      <svg class="icon"><use xlink:href="/images/symbols.svg#compose-subject"></use></svg>
      <input type="text" class="tm_input subject-input" placeholder="Subject" value="{{email.subject}}">
    </div>
  </div>

  <div class="tm_compose-body">
    <textarea class="compose-email-body" value="{{email.html_part}}"></textarea>
  </div>

  <div class="tm_compose-footer">
    <ul class="tm_upload-attachments"></ul>
  </div>

  <div class="tm_compose-footer">
    <div>
      <label>Tracking</label>
      <input type="checkbox" class="tracking-switch switch" checked="{{email.tracking_enabled}}">
    </div>
    <div class="dropdown">
      <button type="button" class="tm_button tm_button-big tm_button-caret dropdown-reminder-button" data-toggle="dropdown">
        <span>Reminder</span>
      </button>
      <ul class="dropdown-menu dropdown-reminder" role="menu">
        <li>
          <label>
            <input type="radio" name="{{email.reminder_type}}" class="i-checks" value="never">
            <span>Never remind</span>
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="{{email.reminder_type}}" class="i-checks" value="always">
            <span>Always remind</span>
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="{{email.reminder_type}}" class="i-checks" value="no_reply">
            <span>Remind if no reply</span>
          </label>
        </li>
        <li>
          <input type="text" class="tm_input datetimepicker reminder-datetimepicker" placeholder="Date &amp; Time" value="{{email._reminder_time}}">
        </li>
      </ul>
    </div>
    <div class="expander"></div>
    <div>
      <input type="text" class="tm_input tm_input-big datetimepicker send-later-datetimepicker" placeholder="Send Later Date &amp; Time">
    </div>
    <div class="tm_button-stack">
      <button type="submit" class="tm_button tm_button-submit email-send-button send-button">
        <svg class="icon big"><use xlink:href="/images/symbols.svg#compose-send"></use></svg>
        <span class="send-button-text">Send</span>
      </button>
      <div class="dropdown">
        <button type="button" class="tm_button tm_button-submit tm_button-caret" data-toggle="dropdown"></button>
        <ul class="dropdown-menu pull-right send-button-dropdown-menu" role="menu">
          <li>
            <a class="send-and-archive">
              <svg class="icon big"><use xlink:href="/images/symbols.svg#compose-archive"></use></svg>
              <span>Send &amp; Archive</span>
            </a>
          </li>
          <li>
            <a class="save-button">
              <svg class="icon big"><use xlink:href="/images/symbols.svg#sidebar-drafts"></use></svg>
              <span>Save Draft</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% } else { %>
  <div class="tm_mobile-compose-wrapper">
    <div class="tm_mobile-compose-header">
      <div class="tm_compose-field">
        <input type="text" class="tm_input to-input" placeholder="To" value="{{email._tos}}">
        <div class="tm_compose-copyto">
          <span class="display-cc">Cc</span>
          <span class="display-bcc">Bcc</span>
        </div>
      </div>
      <div class="tm_compose-field cc-input-wrapper">
        <input type="text" class="tm_input cc-input" placeholder="Cc" value="{{email._ccs}}">
      </div>
      <div class="tm_compose-field bcc-input-wrapper">
        <input type="text" class="tm_input bcc-input" placeholder="Bcc" value="{{email._bccs}}">
      </div>
      <div class="tm_compose-field">
        <input type="text" class="tm_input subject-input" placeholder="Subject" value="{{email.subject}}">
      </div>
    </div>

    <div class="tm_mobile-compose-body">
      <textarea class="compose-email-body" value="{{email.html_part}}"></textarea>
    </div>

    <div class="tm_mobile-compose-footer">
      <ul class="tm_upload-attachments"></ul>
    </div>
  </div>
  <div class="tm_mobile-bottom-toolbar">
    <div class="tm_modal-menu dropdown">
      <button type="button" class="tm_button tm_button-caret" data-toggle="dropdown">Options</button>
      <div class="dropdown-menu" role="menu">
        <ul>
          <li><a>Send in 30 Minutes</a></li>
          <li><a>Schedule</a></li>
          <li><a>Set Reminder</a></li>
          <li><a>Track This Email</a></li>
        </ul>
        <ul>
          <li><a><b>Cancel</b></a></li>
        </ul>
      </div>
    </div>
    <div class="expander"></div>
    <button type="submit" class="tm_button"><b>Send Now</b></button>
  </div>
  <% } %>
</form>