<div class="tm_page-header">
  <big>You have <span class="fgred">53</span> Reminders this Month</big>
  <button class="tm_button tm_button-submit">
    <span>Add Reminder</span>
    <svg class="icon"><use xlink:href="/images/symbols.svg#plus"></use></svg>
  </button>
</div>

<div class="tm_email-thread">

  <div class="tm_email tm_email-reminder">
    <div class="tm_email-info">
      <div class="tm_email-user">
        <span class="tm_email-user-avatar" style="background-image: url(/images/profile.png)"></span>
        <span class="tm_email-user-name">
          <span>Sent to <b>mfoster@dingbats.com</b></span>
          <small>at Feb 19, 7:55 PM</small>
        </span>
      </div>
      <div class="tm_button-stack">
        <button type="button" class="tm_button tm_button-marked" data-toggle="tooltip" data-placement="top" title="Opened">
          <svg class="icon"><use xlink:href="/images/symbols.svg#envelope-open"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#cursor"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#return"></use></svg>
        </button>
      </div>
      <div class="dropdown">
        <button type="button" class="tm_button tm_button-caret" data-toggle="dropdown">
          <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
          <small>24 hours left</small>
        </button>
        <div class="tm_email-reminder-dropdown">
          <div class="tm_email-reminder-show">
            <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
            <div class="tm_email-reminder-info">
              <big>Fri, Feb 20 7:54 PM PST</big>
              <span>If I do not receive a reply</span>
            </div>
            <div class="tm_email-reminder-footer">
              <button class="tm_button tm_button-big tm_button-blue">Edit</button>
              <button class="tm_button tm_button-big tm_button-dark">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm_email-body">
      <div class="tm_email-body-html">Curabitur ut luctus purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vel mauris ut mi fermentum sodales nec a augue. Vestibulum quis massa neque. Proin non mi sit amet mi fermentum placerat et ac justo. Nullam eu purus vitae libero sodales fermentum. Mauris scelerisque sodales ipsum nec aliquet. Curabitur ac nunc id justo rhoncus rhoncus. Aliquam ut eros ante.</div>
    </div>
  </div>

  <div class="tm_email tm_email-reminder">
    <div class="tm_email-info">
      <div class="tm_email-user">
        <span class="tm_email-user-avatar" style="background-image: url(/images/profile.png)"></span>
        <span class="tm_email-user-name">
          <span>Sent to <b>mfoster@dingbats.com</b></span>
          <small>at Feb 19, 7:55 PM</small>
        </span>
      </div>
      <div class="tm_button-stack">
        <button type="button" class="tm_button tm_button-marked" data-toggle="tooltip" data-placement="top" title="Opened">
          <svg class="icon"><use xlink:href="/images/symbols.svg#envelope-open"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#cursor"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#return"></use></svg>
        </button>
      </div>
      <div class="dropdown">
        <button type="button" class="tm_button tm_button-caret" data-toggle="dropdown">
          <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
          <small>24 hours left</small>
        </button>
        <div class="tm_email-reminder-dropdown">
          <div class="tm_email-reminder-edit">
            <div class="tm_email-reminder-info">
              <span>Currently set for</span>
              <span class="fgred">Fri, Feb 20 7:54 PM PST</span>
            </div>
            <div class="tm_email-reminder-setup">
              <div class="tm_email-reminder-toolbar">
                <div class="tm_email-reminder-changeto">
                  <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
                  <span>Change to <b>Fri, Feb 20 7:54 PM PST</b></span>
                </div>
                <button class="tm_button tm_button-dark tm_email-reminder-custom">
                  <small>Custom</small>
                </button>
              </div>
              <div class="tm_email-reminder-slider"></div>
              <div class="tm_email-reminder-ruler">
                <i></i><i></i><i></i><i></i><i></i>
              </div>
              <div class="tm_email-reminder-scale">
                <span>1hr</span>
                <span>1d</span>
                <span>2d</span>
                <span>1wk</span>
                <span>2wk</span>
                <span>1mo</span>
              </div>
            </div>
            <div class="tm_email-reminder-footer">
              <div class="dropdown">
                <button type="button" class="tm_button tm_button-big tm_button-dark tm_button-caret" data-toggle="dropdown">
                  <span>If I do not receive a reply</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1">Always remind</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1">Remind if no reply</a></li>
                </ul>
              </div>
              <button class="tm_button tm_button-big tm_button-blue">Set</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm_email-body">
      <div class="tm_email-body-html">Curabitur ut luctus purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vel mauris ut mi fermentum sodales nec a augue. Vestibulum quis massa neque. Proin non mi sit amet mi fermentum placerat et ac justo. Nullam eu purus vitae libero sodales fermentum. Mauris scelerisque sodales ipsum nec aliquet. Curabitur ac nunc id justo rhoncus rhoncus. Aliquam ut eros ante.</div>
    </div>
  </div>

  <div class="tm_email tm_email-reminder">
    <div class="tm_email-info">
      <div class="tm_email-user">
        <span class="tm_email-user-avatar" style="background-image: url(/images/profile.png)"></span>
        <span class="tm_email-user-name">
          <span>Sent to <b>mfoster@dingbats.com</b></span>
          <small>at Feb 19, 7:55 PM</small>
        </span>
      </div>
      <div class="tm_button-stack">
        <button type="button" class="tm_button tm_button-marked" data-toggle="tooltip" data-placement="top" title="Opened">
          <svg class="icon"><use xlink:href="/images/symbols.svg#envelope-open"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#cursor"></use></svg>
        </button>
        <button type="button" class="tm_button">
          <svg class="icon"><use xlink:href="/images/symbols.svg#return"></use></svg>
        </button>
      </div>
      <div class="dropdown">
        <button type="button" class="tm_button tm_button-caret" data-toggle="dropdown">
          <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
          <small>24 hours left</small>
        </button>
        <div class="tm_email-reminder-dropdown">
          <div class="tm_email-reminder-edit">
            <div class="tm_email-reminder-info">
              <span>Currently set for</span>
              <span class="fgred">Fri, Feb 20 7:54 PM PST</span>
            </div>
            <div class="tm_email-reminder-setup">
              <div class="tm_email-reminder-toolbar">
                <div class="tm_email-reminder-changeto">
                  <svg class="icon"><use xlink:href="/images/symbols.svg#bell"></use></svg>
                  <span>Change to <b>Fri, Feb 20 7:54 PM PST</b></span>
                </div>
                <button class="tm_button tm_button-blue tm_email-reminder-custom">
                  <small>Custom</small>
                </button>
              </div>
              <div class="tm_email-reminder-slider disabled"></div>
              <div class="tm_email-reminder-ruler">
                <i></i><i></i><i></i><i></i><i></i>
              </div>
              <div class="tm_email-reminder-scale">
                <span>1hr</span>
                <span>1d</span>
                <span>2d</span>
                <span>1wk</span>
                <span>2wk</span>
                <span>1mo</span>
              </div>
              <div class="tm_email-reminder-toolbar tm_email-reminder-datetime">
                <div class="dropdown">
                  <button type="button" class="tm_button tm_button-big tm_button-dark tm_button-caret" data-toggle="dropdown">
                    <span>8:00 PM</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1">8:00 PM</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1">9:00 PM</a></li>
                  </ul>
                </div>
                <input type="text" class="tm_input tm_input-big tm_input-dark datetimepicker" placeholder="Date &amp; Time" value="March 22, 2015">
              </div>
            </div>
            <div class="tm_email-reminder-footer">
              <div class="dropdown">
                <button type="button" class="tm_button tm_button-big tm_button-dark tm_button-caret" data-toggle="dropdown">
                  <span>If I do not receive a reply</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1">Always remind</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1">Remind if no reply</a></li>
                </ul>
              </div>
              <button class="tm_button tm_button-big tm_button-blue">Set</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm_email-body">
      <div class="tm_email-body-html">Curabitur ut luctus purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam vel mauris ut mi fermentum sodales nec a augue. Vestibulum quis massa neque. Proin non mi sit amet mi fermentum placerat et ac justo. Nullam eu purus vitae libero sodales fermentum. Mauris scelerisque sodales ipsum nec aliquet. Curabitur ac nunc id justo rhoncus rhoncus. Aliquam ut eros ante.</div>
    </div>
  </div>

</div>