<div class="modal fade create-folder-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:400px">
    <div class="tm_modal-content">
      <div class="tm_modal-header">
        <h4 class="tm_modal-title">Create Folder</h4>
        <button class="tm_modal-button" data-dismiss="modal">
          <svg class="icon"><use xlink:href="/images/symbols.svg#modal-close"></use></svg>
        </button>
      </div>
      <form class="create-folder-form">
        <div class="tm_modal-body">
          <p>Please enter below a name for the new folder and click &quot;Create&quot; button to continue.</p>
          <input type="text" class="tm_input create-folder-input">
        </div>
        <div class="tm_modal-footer">
          <button type="button" class="tm_button" data-dismiss="modal">Cancel</button>
          <button type="submit" class="tm_button tm_button-blue">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>