<div class="dropdown email-tag-dropdown-div">
  <button class="tm_button tm_button-caret" type="button" id="emailTagDropdownMenu" data-toggle="dropdown">Tags</button>
  <ul class="dropdown-menu email-tag-dropdown" role="menu" aria-labelledby="emailTagDropdownMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">To-Do</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Intro</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Follow-up</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Scheduling Request</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Invoice</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Contract</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Memo</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="email-tag-item">Newsletter</a></li>
  </ul>
</div>