<div class="tm_page-header">
  <h1>Inbox Efficiency</h1>
</div>

<div>
  <h2 class="h2"><%= average_response_time_in_minutes %> <small>average response time</small></h2>
  <h2 class="h2"><%= percent_archived %>% <small>archived</small></h2>
</div>
