<div class="tm_page-header">
  <h1>Summary Analytics</h1>
</div>

<div>
  <h2 class="h2"><%= number_of_conversations %> <small>conversations</small></h2>
  <h2 class="h2"><%= number_of_emails_received %> <small>emails received</small></h2>
  <h2 class="h2"><%= number_of_emails_sent %> <small>emails sent</small></h2>
</div>
