<% if(!isMobile()) { %>
<div class="tm_sidebar-logo">
  <svg><use xlink:href="/images/symbols.svg#logo"></use></svg>
</div>
<% } %>
<div class="tm_sidebar-content">
  <div class="tm_email-compose"></div>
  <div class="tm_email-folders"></div>
</div>