<!-- <a class="tm_button tm_button-ghost">
  <svg class="icon"><use xlink:href="/images/symbols.svg#clip"></use></svg>
</a>
<a class="tm_button tm_button-ghost">
  <svg class="icon"><use xlink:href="/images/symbols.svg#user"></use></svg>
</a> -->
<div class="tm_contact-inbox-input">
  <input type="text" class="tm_input" value="{{email._html_part}}">
  <button type="reset">
    <svg class="icon"><use xlink:href="/images/symbols.svg#reset"></use></svg>
  </button>
</div>
<button type="submit" class="tm_button tm_button-blue">Send</button>
