<div class="modal fade confirmation-modal" tabindex="-1" role="dialog">
  <div class="tm_modal-confirmation modal-dialog confirmation-modal-dialog">

    <div class="tm_modal-confirmation-body">{{message}}</div>

    <div class="tm_modal-confirmation-footer">
      <button type="reset" class="tm_button no-button">
        <svg class="icon"><use xlink:href="/images/symbols.svg#cancel"></use></svg>
        <span>Cancel</span>
      </button>
      <button type="submit" class="tm_button yes-button">
        <svg class="icon"><use xlink:href="/images/symbols.svg#delete"></use></svg>
        <span>Delete</span>
      </button>
    </div>

  </div>
</div>